---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
	{% include article-quote.html %}
  </div>

</article>
<script src="{{"/javascripts/highlight.pack.js"|prepend:site.url}}" charset="utf-8"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
 $(document).ready(function(){
   var codeClass="{{page.codelang}}";

    if(codeClass!=="")
    {
      $("code").each(function(){
        var thisObj=$(this);
        if(thisObj.parent().prop('tagName').toLowerCase()==="pre")
        {
          thisObj.parent().addClass(codeClass);
          return;
        }
        thisObj.wrap("<pre></pre>");
        thisObj.addClass(codeClass);
      });
      hljs.initHighlightingOnLoad();
    }
 });

</script>
